In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
#Loading the dataset
adult = pd.read_csv("C:\\Users\\USER\\Downloads\\Week One Learning Task\\QUESTION 2\\adult.csv")

#inspecting the dataset
print(adult.head())

   age workclass  fnlwgt     education  education.num marital.status  \
0   90         ?   77053       HS-grad              9        Widowed
1   82   Private  132870       HS-grad              9        Widowed
2   66         ?  186061  Some-college             10        Widowed
3   54   Private  140359       7th-8th              4       Divorced
4   41   Private  264663  Some-college             10      Separated

          occupation   relationship   race     sex  capital.gain  \
0                  ?  Not-in-family  White  Female             0
1    Exec-managerial  Not-in-family  White  Female             0
2                  ?      Unmarried  Black  Female             0
3  Machine-op-inspct      Unmarried  White  Female             0
4     Prof-specialty      Own-child  White  Female             0

   capital.loss  hours.per.week native.country income
0          4356              40  United-States  <=50K
1          4356              18  United-States  <=50K
2          4356              40  United-States  <=50K
3          3900              40  United-States  <=50K
4          3900              40  United-States  <=50K

In [65]:
print(adult.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [66]:
#handling missing values
print(adult.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [53]:
#dropping missing values
adult_dropped = adult.dropna()
print(adult_dropped)

       age workclass  fnlwgt     education  education.num      marital.status  \
0       90         ?   77053       HS-grad              9             Widowed
1       82   Private  132870       HS-grad              9             Widowed
2       66         ?  186061  Some-college             10             Widowed
3       54   Private  140359       7th-8th              4            Divorced
4       41   Private  264663  Some-college             10           Separated
...    ...       ...     ...           ...            ...                 ...
32556   22   Private  310152  Some-college             10       Never-married
32557   27   Private  257302    Assoc-acdm             12  Married-civ-spouse
32558   40   Private  154374       HS-grad              9  Married-civ-spouse
32559   58   Private  151910       HS-grad              9             Widowed
32560   22   Private  201490       HS-grad              9       Never-married

              occupation   relationship   race     sex  capital.gain  \
0                      ?  Not-in-family  White  Female             0
1        Exec-managerial  Not-in-family  White  Female             0
2                      ?      Unmarried  Black  Female             0
3      Machine-op-inspct      Unmarried  White  Female             0
4         Prof-specialty      Own-child  White  Female             0
...                  ...            ...    ...     ...           ...
32556    Protective-serv  Not-in-family  White    Male             0
32557       Tech-support           Wife  White  Female             0
32558  Machine-op-inspct        Husband  White    Male             0
32559       Adm-clerical      Unmarried  White  Female             0
32560       Adm-clerical      Own-child  White    Male             0

       capital.loss  hours.per.week native.country income
0              4356              40  United-States  <=50K
1              4356              18  United-States  <=50K
2              4356              40  United-States  <=50K
3              3900              40  United-States  <=50K
4              3900              40  United-States  <=50K
...             ...             ...            ...    ...
32556             0              40  United-States  <=50K
32557             0              38  United-States  <=50K
32558             0              40  United-States   >50K
32559             0              40  United-States  <=50K
32560             0              20  United-States  <=50K

[32561 rows x 15 columns]

In [60]:
#Removing Duplicates
adult = adult.drop_duplicates()
print(adult)

       age workclass  fnlwgt     education  education.num      marital.status  \
0       90         ?   77053       HS-grad              9             Widowed
1       82   Private  132870       HS-grad              9             Widowed
2       66         ?  186061  Some-college             10             Widowed
3       54   Private  140359       7th-8th              4            Divorced
4       41   Private  264663  Some-college             10           Separated
...    ...       ...     ...           ...            ...                 ...
32556   22   Private  310152  Some-college             10       Never-married
32557   27   Private  257302    Assoc-acdm             12  Married-civ-spouse
32558   40   Private  154374       HS-grad              9  Married-civ-spouse
32559   58   Private  151910       HS-grad              9             Widowed
32560   22   Private  201490       HS-grad              9       Never-married

              occupation   relationship   race     sex  capital.gain  \
0                      ?  Not-in-family  White  Female             0
1        Exec-managerial  Not-in-family  White  Female             0
2                      ?      Unmarried  Black  Female             0
3      Machine-op-inspct      Unmarried  White  Female             0
4         Prof-specialty      Own-child  White  Female             0
...                  ...            ...    ...     ...           ...
32556    Protective-serv  Not-in-family  White    Male             0
32557       Tech-support           Wife  White  Female             0
32558  Machine-op-inspct        Husband  White    Male             0
32559       Adm-clerical      Unmarried  White  Female             0
32560       Adm-clerical      Own-child  White    Male             0

       capital.loss  hours.per.week native.country income
0              4356              40  United-States  <=50K
1              4356              18  United-States  <=50K
2              4356              40  United-States  <=50K
3              3900              40  United-States  <=50K
4              3900              40  United-States  <=50K
...             ...             ...            ...    ...
32556             0              40  United-States  <=50K
32557             0              38  United-States  <=50K
32558             0              40  United-States   >50K
32559             0              40  United-States  <=50K
32560             0              20  United-States  <=50K

[32537 rows x 15 columns]

In [63]:
print(adult.shape[1])

109

In [68]:
#converting categorical variables to numerical using one hot encooding
categorical_cols = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country']
adult = pd.get_dummies(adult, columns=categorical_cols)
print(adult)

       age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week  \
0       90   77053              9             0          4356              40
1       82  132870              9             0          4356              18
2       66  186061             10             0          4356              40
3       54  140359              4             0          3900              40
4       41  264663             10             0          3900              40
...    ...     ...            ...           ...           ...             ...
32556   22  310152             10             0             0              40
32557   27  257302             12             0             0              38
32558   40  154374              9             0             0              40
32559   58  151910              9             0             0              40
32560   22  201490              9             0             0              20

      income  workclass_?  workclass_Federal-gov  workclass_Local-gov  ...  \
0      <=50K         True                  False                False  ...
1      <=50K        False                  False                False  ...
2      <=50K         True                  False                False  ...
3      <=50K        False                  False                False  ...
4      <=50K        False                  False                False  ...
...      ...          ...                    ...                  ...  ...
32556  <=50K        False                  False                False  ...
32557  <=50K        False                  False                False  ...
32558   >50K        False                  False                False  ...
32559  <=50K        False                  False                False  ...
32560  <=50K        False                  False                False  ...

       native.country_Portugal  native.country_Puerto-Rico  \
0                        False                       False
1                        False                       False
2                        False                       False
3                        False                       False
4                        False                       False
...                        ...                         ...
32556                    False                       False
32557                    False                       False
32558                    False                       False
32559                    False                       False
32560                    False                       False

       native.country_Scotland  native.country_South  native.country_Taiwan  \
0                        False                 False                  False
1                        False                 False                  False
2                        False                 False                  False
3                        False                 False                  False
4                        False                 False                  False
...                        ...                   ...                    ...
32556                    False                 False                  False
32557                    False                 False                  False
32558                    False                 False                  False
32559                    False                 False                  False
32560                    False                 False                  False

       native.country_Thailand  native.country_Trinadad&Tobago  \
0                        False                           False
1                        False                           False
2                        False                           False
3                        False                           False
4                        False                           False
...                        ...                             ...
32556                    False                           False
32557                    False                           False
32558                    False                           False
32559                    False                           False
32560                    False                           False

       native.country_United-States  native.country_Vietnam  \
0                              True                   False
1                              True                   False
2                              True                   False
3                              True                   False
4                              True                   False
...                             ...                     ...
32556                          True                   False
32557                          True                   False
32558                          True                   False
32559                          True                   False
32560                          True                   False

       native.country_Yugoslavia
0                          False
1                          False
2                          False
3                          False
4                          False
...                          ...
32556                      False
32557                      False
32558                      False
32559                      False
32560                      False

[32561 rows x 109 columns]

In [69]:
print(adult.shape[1])

109

In [62]:
scaler = StandardScaler()
numerical_cols = [ 'age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']
adult[numerical_cols] = scaler.fit_transform(adult[numerical_cols])
print(adult[numerical_cols])

            age    fnlwgt  education.num  capital.gain  capital.loss  \
0      3.770003 -1.067955      -0.420679     -0.145975     10.589625
1      3.183397 -0.539159      -0.420679     -0.145975     10.589625
2      2.010185 -0.035241      -0.031815     -0.145975     10.589625
3      1.130276 -0.468210      -2.364998     -0.145975      9.458380
4      0.177041  0.709415      -0.031815     -0.145975      9.458380
...         ...       ...            ...           ...           ...
32556 -1.216148  1.140366      -0.031815     -0.145975     -0.216743
32557 -0.849519  0.639678       0.745913     -0.145975     -0.216743
32558  0.103716 -0.335436      -0.420679     -0.145975     -0.216743
32559  1.423579 -0.358779      -0.420679     -0.145975     -0.216743
32560 -1.216148  0.110930      -0.420679     -0.145975     -0.216743

       hours.per.week
0           -0.035664
1           -1.817516
2           -0.035664
3           -0.035664
4           -0.035664
...               ...
32556       -0.035664
32557       -0.197650
32558       -0.035664
32559       -0.035664
32560       -1.655530

[32537 rows x 6 columns]